.category {
  padding-top: 12px ;
  padding-bottom: 12px ;
  border-bottom: 1px solid #dee2e6 ;
}
.section {
  padding-bottom: 24px ;
}
.radio {
  margin: 4px ;
}

.question {
  border-bottom: 1px solid #dee2e6 ;
  padding-bottom: 12px ;
  padding-top: 12px ;
}
.submit-btn-container {
  padding-top: 12px ;
  margin-bottom: 24px ;
}
.grade-info-label {
  font-weight: bold ;
}
.grade-info-item {
  font-weight: normal ;
}
